body{
  background: #eaeaea;
  margin: 0;
  padding: 0;
}

.header{
  height: 120px;
  background: #037cf3cf;
  margin-bottom: 70px;
}
.main{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.header-wrap{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.wrep{
  width: 800px;
  margin: 0 auto;
}

.fotter{
  margin-top: 50px;
  height: 250px;
  background:#909099;
}
.href a{
  display: flex;
  justify-content: center;
  color: #fff; 
  font-size: 35px;
  padding-top: 40px;
}

/* Текст */
a{text-decoration: none;}

.bold{font-weight: 600;}

.line-through{text-decoration: line-through;}

.italic{font-style: italic;}

h1, h2, h3{text-align: center;}

.color
{
  text-align: center;
  margin-top: 20px;
  color: red;
}
.text_fotter
{
  width: 800px;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

.main_text a
{
  color: #fff;
  font-style: italic;
  font-family: Georgia;
  font-size: 20px;
}

.logo_text{
  color: #fff;
  font-style: italic;
  font-family: Georgia;
  font-size: 30px;
}

/* Изображения */
img{width: 300px; float: left; margin: 20px;}

